@font-face {
    font-family: 'Aroka-Black';
    // src: url('@font/Aroka-Black.ttf') format('truetype');
    src: url('https://studioaroka.com/14a7b75437e00c115930.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}